<%- include('./partials/head') %>



  <ul>
    <% persons.forEach(person=> { %>
      <li>
        <h1>
          <%=person.name %>
        </h1>
        <img class="main__card--background" src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>" onerror="this.src='assets/replace.jpeg'">


      </li>
      <% }) %>
  </ul>



  <%- include('./partials/foot') %>