<%- include('./partials/head') %>

<article class="person">
  <header>
    <h1><%=person.name %></h1>
  </header>

  <img src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>"
  onerror="this.src='assets/replace.jpeg'">

  <footer></footer>
</article>

<%- include('./partials/foot') %>
