@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tangerine:wght@400;700&display=swap");
/* "Inter", sans-serif */

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
/* "Silkscreen", sans-serif */

@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
/* "Micro 5", sans-serif */

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
/* "Italiana", sans-serif */

/*  */
html {
  --font-one: "Inter", arial, helvetica, sans-serif;
  --font-two: "Silkscreen", sans-serif, arial, helvetica, sans-serif;
  --font-three: "Micro 5", sans-serif, arial, helvetica, sans-serif;
  --font-four: "Italiana", sans-serif, arial, helvetica, sans-serif;

  --black: #121212;
  --white: #fefefe;
  --offwhite: #f6f4f2;
  --dark-grey: #444444;
  --grey: #666;
  --dark: #05060f;

  --strong-blue: #0000fe;
  --blue: #0000fe;
  --cyan: #29bde2;
  --yellow: #fff74e;
  --red: #df152f;

  --light-blue: #65a5c7;
  --orange: #f4982e;
  --soft-orange: #f7b787;
  --lemon: #faca78;
  --green: #79c39e;
  --purple: #818cff;

  --space-big: 1.5rem;
  --space-reg: 1rem;
  --space-third: 0.75rem;
  --space-half: 0.5rem;
  --space-small: 0.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--offwhite);
  color: var(--dark);
  font-family: var(--font-one);
  cursor: url("/assets/pxl-cursor.png"), auto;
}

/* text styling */

h1 {
  color: var(--strong-blue);
  font-family: var(--font-two);
  font-size: 4.5rem;
}

h1:last-of-type {
  font-size: 1.7rem;
}

header p {
  font-family: var(--font-three);
  font-size: 1.7rem;
  color: var(--red);
}

.nickname {
  font-family: var(--font-two);
  font-size: 1.2rem;
}

a {
  color: var(--dark);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

a:visited {
  color: var(--dark);
}

a:hover {
  text-decoration: underline;
  color: var(--blue);
  font-size: 1.1rem;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

button {
  font-family: var(--font-two);
}

/* document */

.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 100vw;
  height: 20vh;
  padding: var(--space-half) 0;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;

  h1 {
    margin: -1rem;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: sticky;
  top: 9.3rem;
  z-index: 100;

  a {
    font-weight: bold;
    color: var(--offwhite);
    background-color: var(--red);
    padding: var(--space-small) var(--space-half);
    margin: var(--space-small) var(--space-half);

    border-radius: 0.1rem;
    border: 0.4vmin solid var(--dark);
    box-shadow: 0.25rem 0.25rem var(--dark), 0.35rem 0.35rem var(--offwhite);

    transition: font-size 0.25s ease-in-out, scale 0.25s ease-in-out;
  }

  a:hover {
    color: var(--dark-grey);
    text-decoration: underline;
    scale: 1.05;
  }

  a:active {
    scale: 0.95;
    background-color: var(--dark-grey);
    color: var(--offwhite);
  }
}

.column-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  width: 100vw;
  max-width: 55rem;
  margin-top: 2rem;
}

.column {
  display: grid;
  gap: 0.5rem 0;
}

.column:nth-of-type(odd) {
  translate: 0 4rem;
}

.profilecard {
  display: grid;
  place-items: center;
  width: 90%;
  height: 90%;
  padding: var(--space-half);
  margin: var(--space-reg) var(--space-reg);
  background-color: var(--lemon);
  border-radius: 0.25rem;
  border: 0.5vmin solid var(--dark);
  box-shadow: 0.3rem 0.3rem var(--dark);
  overflow: hidden;
}

/* button */

.scroll-btn {
  color: var(--dark);
  background-color: var(--orange);
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.3rem;
  z-index: 110;
  outline: none;
  padding: var(--space-third);
  transition: all 0.15s ease-in-out;
  border-radius: 0.1rem;
  border: 0.4vmin solid var(--dark);
  box-shadow: 0.25rem 0.25rem var(--dark), 0.35rem 0.35rem var(--offwhite);
}

.scroll-btn:hover {
  scale: 1.05;
  color: var(--white);
  background-color: var(--orange);
  box-shadow: 0.35rem 0.35rem var(--dark), 0.45rem 0.45rem var(--offwhite);
}

.scroll-btn:active {
  scale: 0.95;
  background-color: var(--red);
  box-shadow: 0.15rem 0.15rem var(--dark), 0.25rem 0.25rem var(--offwhite);
}
.show {
  display: block;
}

/* message box - form */

.message {
  margin: var(--space-half) 0;
  border: 1px solid var(--black);
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

/* scroll animation */

@supports (animation-timeline: scroll()) {
  header {
    animation: shrink linear forwards;
    animation-timeline: scroll();
    animation-range: 5% 15%;
  }

  @keyframes shrink {
    to {
      height: 10vh;
    }
  }

  .filters {
    animation: uppies linear forwards;
    animation-timeline: scroll();
    animation-range: 5% 15%;
  }

  @keyframes uppies {
    to {
      top: 5.5rem;
    }
  }

  h1 {
    opacity: 100;
    animation: shrink-font linear forwards;
    animation-timeline: scroll();
    animation-range: 5% 15%;
  }

  @keyframes shrink-font {
    to {
      opacity: 0;
      font-size: 2rem;
      translate: 0 -5px;
    }
  }

  h1:last-of-type {
    opacity: 0;
    animation: appear linear forwards;
    animation-timeline: scroll();
    animation-range: 12% 20%;
  }

  @keyframes appear {
    to {
      opacity: 100;
      translate: 0 5px;
    }
  }

  .hexagon {
    scale: 0.75;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% 22%;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

/* media query */

@media (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }

  h1:last-of-type {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  img {
    width: 50px;
  }
}

@media (max-width: 500px) {
  h1:last-of-type {
    font-size: 0.95rem;
  }
}
