@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tangerine:wght@400;700&display=swap");
/* "Inter", sans-serif */

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
/* "Dela Gothic One", sans-serif; */

html {
  --font-one: "Inter", arial, helvetica, sans-serif;
  --font-two: "Dela Gothic One", arial, helvetica, sans-serif;

  --black: #121212;
  --white: #f6f7f7;
  --offwhite: #f6f4f2;
  --grey: #c5c5c5;
  --dark-grey: #5c5c5c;
  --dark: #171717;
  --blue: #105c78;

  --space-big: 1.5rem;
  --space-reg: 1rem;
  --space-third: 0.75rem;
  --space-half: 0.5rem;
  --space-small: 0.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--offwhite);
  color: var(--black);
  font-family: var(--font-one);

  background-color: var(--offwhite);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--grey) 25%,
      var(--grey) 26%,
      transparent 27%,
      transparent 74%,
      var(--grey) 75%,
      var(--grey) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--grey) 25%,
      var(--grey) 26%,
      transparent 27%,
      transparent 74%,
      var(--grey) 75%,
      var(--grey) 76%,
      transparent 77%,
      transparent
    );
  background-size: 6rem 6rem;
  background-position: center;
  background-attachment: fixed;
}

/* text styling */

h1 {
  color: var(--strong-blue);
  font-family: var(--font-two);
  font-size: 4.5rem;
}

h1:last-of-type {
  font-size: 1.7rem;
}

header p {
  font-size: 1.25rem;
  font-style: italic;
  color: var(--red);
}

a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

a:visited {
  color: var(--black);
}

a:hover {
  text-decoration: underline;
  color: var(--dark-grey);
  font-size: 1.1rem;
}

/* document */

.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  width: 100vw;
  height: 16vh;
  padding: var(--space-half) 0;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  box-shadow: 0 1px 1px var(--dark-grey);

  h1 {
    margin-top: -0.4rem;
  }

  h1:last-of-type {
    margin-top: -2.7rem;
  }
}

/* message box - form */

form {
  background-color: var(--grey);
  flex-direction: column;
  width: 25%;
  animation: showForm 0.35s ease-in-out;
  text-transform: capitalize;
  padding: var(--space-half);
  border: 1px solid var(--dark-grey);
  border-radius: 0px 0px 6px 6px;

  label {
    font-size: smaller;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
  button {
    width: 50%;
    place-self: center;
  }
}

.message-container {
  position: sticky;
  top: 7.3rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: fit-content;
  padding: var(--space-big);
  overflow: scroll;
  z-index: 100;
}

.message-post {
  display: flex;
  flex-direction: row;
}

.message {
  width: 8rem;
  height: 8rem;
  background-color: var(--grey);
  border: 1px solid var(--dark-grey);
  padding: var(--space-small) var(--space-half);
  border-radius: 4px;
  margin-right: var(--space-half);
}

.message h3 {
  text-transform: uppercase;
  padding: 0 var(--space-small);
}

.message p {
  padding: 0 var(--space-small);
}

/* cards */

.column-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  width: 100vw;
  max-width: 55rem;
  margin-top: 10rem;
}

.column {
  display: grid;
  gap: 0.5rem 0;
}

.column:nth-of-type(odd) {
  translate: 0 4rem;
}

.profilecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14rem;
  width: 14rem;
  background-color: var(--grey);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin-bottom: var(--space-half);
  overflow: hidden;

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.9rem;
  }

  img {
    width: 90px;
    height: 90px;
  }
}

/* button */

.show-msgs {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  background-color: transparent;
  color: var(--dark-grey);
  font-size: 2rem;
  padding: var(--space-small);
  border: none;
  transition: all 0.25s ease-in-out;
  z-index: 15;
}

.show-msgs:hover {
  scale: 1.05;
  color: var(--dark);
}
.show-msgs:active {
  scale: 0.95;
}

.scroll-btn {
  background-color: var(--offwhite);
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.3rem;
  z-index: 110;
  border: 0.2vmin solid var(--dark);
  border-radius: 6px;
  box-shadow: 0.2rem 0.2rem var(--dark), 0.25rem 0.25rem var(--offwhite);
  outline: none;
  padding: var(--space-third);
  transition: all 0.15s ease-in-out;
  border-radius: 0.1rem;
}

.scroll-btn:hover {
  background-color: var(--grey);
  box-shadow: 0.35rem 0.35rem var(--dark), 0.4rem 0.4rem var(--offwhite);
  scale: 1.05;
}

.scroll-btn:active {
  scale: 0.95;
  background-color: var(--dark-grey);
  box-shadow: 0.2rem 0.2rem var(--dark), 0.25rem 0.25rem var(--offwhite);
  color: var(--offwhite);
}

.filter-btn {
  background-color: var(--offwhite);
  position: fixed;
  bottom: 1.5rem;
  left: 1.3rem;
  z-index: 110;
  outline: none;
  border: 0.2vmin solid var(--dark);
  border-radius: 6px;
  box-shadow: 0.2rem 0.2rem var(--dark), 0.25rem 0.25rem var(--offwhite);
  padding: var(--space-third);
  transition: all 0.15s ease-in-out;
  border-radius: 0.1rem;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: sticky;
  top: 9rem;
  z-index: 100;

  a {
    font-weight: bold;
    background-color: var(--offwhite);
    padding: var(--space-small) var(--space-half);
    margin: var(--space-small) var(--space-half);
    border: 1px solid var(--dark-grey);
    transition: font-size 0.25s ease-in-out, scale 0.25s ease-in-out;
  }

  a:hover {
    color: var(--dark-grey);
    text-decoration: underline;
    scale: 1.05;
  }

  a:active {
    scale: 0.95;
    background-color: var(--dark-grey);
    color: var(--offwhite);
  }
}

.filters-active {
  background-color: var(--dark-grey);
  color: var(--offwhite);
}

.show {
  display: block;
}

/* scroll animation */

@supports (animation-timeline: scroll()) {
  header {
    animation: shrink linear forwards;
    animation-timeline: scroll();
    animation-range: 5% 15%;
  }

  @keyframes shrink {
    to {
      height: 10vh;
    }
  }

  .filters {
    animation: uppies linear forwards;
    animation-timeline: scroll();
    animation-range: 5% 15%;
  }

  @keyframes uppies {
    to {
      top: 5.5rem;
    }
  }

  h1 {
    opacity: 100;
    animation: shrink-font linear forwards;
    animation-timeline: scroll();
    animation-range: 5% 15%;
  }

  @keyframes shrink-font {
    to {
      opacity: 0;
      font-size: 2rem;
      translate: 0 -5px;
    }
  }

  h1:last-of-type {
    opacity: 0;
    animation: appear linear forwards;
    animation-timeline: scroll();
    animation-range: 12% 20%;
  }

  @keyframes appear {
    to {
      opacity: 100;
      translate: 0 5px;
    }
  }

  .hexagon {
    scale: 0.75;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% 22%;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

/* media query */

@media (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }

  h1:last-of-type {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  img {
    width: 50px;
  }
}

@media (max-width: 500px) {
  h1:last-of-type {
    font-size: 0.95rem;
  }
}
